.body-container{
    height: calc(100dvh - 129px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.questions-card{
    padding: 50px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.question{
    font-size: 16px;
    text-align: justify;
    width: 80%;
    padding: 20px 10px;
}
.options{
    padding: 20px 10px;
    width: 65%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
}
.options > span{
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 100vw;

    /* padding: 30px 20px; */
    border: 1.5px solid rgba(255, 255, 255, 0.569);
}
.color{
    border: 1.5px solid red!important;
    /* background: rgba(255, 0, 0, 0.302); */
    color: white;
}
.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btn{
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
}
.Q-mark{
    font-size: 20px;
    position: relative;
    bottom: 10px;
    color: palegoldenrod;
}
#green{
    border: 2px solid springgreen !important;
    /* background: rgba(0, 255, 128, 0.272); */
}


@media screen and (max-width:600px){
    .questions-card{
        padding: 0px 0px;
    }
    .question{
        font-size: 15px;
    }
    .options{
        display: flex;
        flex-direction:column ;
    }
    .options > span{
        padding: 10px;
        border-radius: 100vw;
        font-size: 15px;
    }
}