html{
    background-color: black;
    color: white;
}
*{
    padding: 0px;
    margin: 0px;
}
.nav-container{
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.nav-links{
    font-size: 20px;
}
.nav-logo{
    /* border: 2px solid springgreen; */
    cursor: pointer;
}
.nav-logo > img{
    height: 100%;
}
@media screen and (max-width:600px){
    .nav-container{
        height: 90px;
        margin-bottom: 10px;
    }
    .nav-logo{
        height: 80px;
    }
}